arrow==1.4.0
attrs==26.1.0
beautifulsoup4==4.15.0
certifi==2026.7.22
charset-normalizer==3.5.2
dateparser==1.4.3
ics==0.7.3
idna==3.20
python-dateutil==2.9.0.post0
pytz==2026.5
regex==2026.9.29
requests==2.34.2
six==1.17.0
soupsieve==2.10
TatSu==5.24.0
types-python-dateutil==2.9.0.20260807
typing_extensions==4.16.0
tzdata==2026.5
tzlocal==5.4.4
urllib3==2.8.0
